{% extends "base.html" %}
{% block content %}
<div class="login-container">
  
  <div class="login-header">
    <i class="bi bi-broadcast"></i> <h1 class_="h3">Iniciar Sesión</h1>
  </div>
  
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="mb-3">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
    {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    <button class="btn btn-primary w-100 btn-lg" type="submit">Entrar</button>
  </form>
</div>
{% endblock %}